# Perkenalan

Nama    : Harun\
Batch   : RMT-035

# Libraries

In [95]:
import pandas as pd
import great_expectations as ge
from great_expectations.core.batch import BatchRequest

# Load Data

In [96]:
# Load dataset Superstore
df = pd.read_csv('F:\Harun\Hacktiv8\Phase2\week2\project-m3\dags\P2M3_Harun_data_clean.csv')

# Mengubah dataframe menjadi objek Great Expectations
df_ge = ge.from_pandas(df)

# Tampilkan 5 baris pertama dari dataset untuk pengecekan
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,Order_Customer_ID,unique_column
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,CA-2017-152156_CG-12520,CA-2017-152156_CG-12520_FUR-BO-10001798_2017-1...
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,CA-2017-152156_CG-12520,CA-2017-152156_CG-12520_FUR-CH-10000454_2017-1...
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,CA-2017-138688_DV-13045,CA-2017-138688_DV-13045_OFF-LA-10000240_2017-0...
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,US-2016-108966_SO-20335,US-2016-108966_SO-20335_FUR-TA-10000577_2016-1...
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,US-2016-108966_SO-20335,US-2016-108966_SO-20335_OFF-ST-10000760_2016-1...

# Great Expectation

### Expectation 1 - Kolom Unik

In [97]:
# Menggabungkan kolom menjadi kolom unik
df['unique_column'] = df['order_id'].astype(str) + '_' + df['customer_id'].astype(str) + '_' + df['product_id'].astype(str) + '_' + df['order_date'].astype(str)

# Memeriksa keunikan dari kolom yang baru dibuat
result_unique = df_ge.expect_column_values_to_be_unique('unique_column')
result_unique

{
  "meta": {},
  "success": false,
  "result": {
    "element_count": 9800,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 16,
    "unexpected_percent": 0.163265306122449,
    "unexpected_percent_total": 0.163265306122449,
    "unexpected_percent_nonmissing": 0.163265306122449,
    "partial_unexpected_list": [
      "CA-2017-129714_AB-10060_OFF-PA-10001970_2017-09-01",
      "CA-2017-129714_AB-10060_OFF-PA-10001970_2017-09-01",
      "US-2017-123750_RB-19795_TEC-AC-10004659_2017-04-15",
      "US-2017-123750_RB-19795_TEC-AC-10004659_2017-04-15",
      "CA-2017-137043_LC-17140_FUR-FU-10003664_2017-12-23",
      "CA-2017-137043_LC-17140_FUR-FU-10003664_2017-12-23",
      "CA-2018-152912_BM-11650_OFF-ST-10003208_2018-11-09",
      "CA-2018-152912_BM-11650_OFF-ST-10003208_2018-11-09",
      "US-2015-150119_LB-16795_FUR-CH-10002965_2015-04-23",
      "US-2015-150119_LB-16795_FUR-CH-10002965_2015-04-23",
      "CA-2016-103135_SS-20515_OFF-BI-10000069_2016-07-24",
      "CA-2016-103135_SS-20515_OFF-BI-10000069_2016-07-24",
      "CA-2018-118017_LC-16870_TEC-AC-10002006_2018-12-03",
      "CA-2018-118017_LC-16870_TEC-AC-10002006_2018-12-03",
      "CA-2017-140571_SJ-20125_OFF-PA-10001954_2017-03-15",
      "CA-2017-140571_SJ-20125_OFF-PA-10001954_2017-03-15"
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Expectation 2 - Nilai di antara min_value dan max_value

In [98]:
# Memastikan kolom 'sales' berada di antara 0 dan 10000
result_2 = df_ge.expect_column_values_to_be_between('sales', min_value=0, max_value=25000)
result_2

{
  "meta": {},
  "success": true,
  "result": {
    "element_count": 9800,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Expectation 3 - Nilai harus berada dalam Set

In [99]:
# Memastikan kolom 'ship_mode' berada dalam set nilai tertentu
valid_ship_modes = ['First Class', 'Second Class', 'Standard Class', 'Same Day']
result_3 = df_ge.expect_column_values_to_be_in_set('ship_mode', valid_ship_modes)
result_3

{
  "meta": {},
  "success": true,
  "result": {
    "element_count": 9800,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Expectation 4 - Tipe Data

In [104]:
# memastikan kolom 'postal_code' bertipe data float64
result_type = df_ge.expect_column_values_to_be_of_type("postal_code", "float64")
result_type

{
  "meta": {},
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Expectation 5 - Nilai tidak boleh kosong (null)

In [101]:
# Memastikan kolom 'customer_name' tidak memiliki nilai kosong
result_5 = df_ge.expect_column_values_to_not_be_null('customer_name')
result_5

{
  "meta": {},
  "success": true,
  "result": {
    "element_count": 9800,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Expectation 6 - Panjang nilai dalam kolom harus berada dalam rentang tertentu

In [102]:
# Memastikan panjang nilai di kolom 'state' tidak lebih dari 20 karakter
result_6 = df_ge.expect_column_value_lengths_to_be_between('state', min_value=1, max_value=20)
result_6

{
  "meta": {},
  "success": true,
  "result": {
    "element_count": 9800,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Expectation 7 - Nilai kolom harus dimulai dengan huruf kapital

In [103]:
# Memastikan bahwa kolom 'region' dimulai dengan huruf kapital
result_7 = df_ge.expect_column_values_to_match_regex('region', r'^[A-Z]')
result_7

{
  "meta": {},
  "success": true,
  "result": {
    "element_count": 9800,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}